
/target/
/debug/
*.pdb
*.exe


/data/
/ac-setups/
/server_setups/
/saved_laps/
config.json
.version.json


/log/
/logs/
*.log


.vscode/
./vscode/
.idea/
**/*.rs.bk


/github_export/


/gui/
/gui_paid/
/ac_pro_gui/